

body
{
   margin:0 auto;
    padding: 0;
    cursor: default;
    font-family:Microsoft Sans Serif, Tahoma, Geneva, sans-serif;
 font-size:12px;
    line-height: 1.4em;
 background-color: rgb(234,234,234);  /**/
}

textarea
{
   overflow:auto;
}

a:hover
{
    text-decoration: underline;
}

a.more
{
    display: inline-block;
   
    color: #fff;
    font-weight: 700;
    width: 60px;
    height: 23px;
    line-height: 21px;
    text-align: center;
    padding-right: 25px;
    background: url(../images/templatemo_button.png) left center no-repeat;
}


.cleaner
{
    clear: both;
}



#templatemo_middle_wrapper
{
    width: 100%;
    height: 538px;
    background: #1f1f1e url(../images/templatemo_middle.jpg) no-repeat;
}

#templatemo_middle
{
    width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

#templatemo_main
{
    margin: 0 auto;
    padding: 30px 10px 10px 20px;
}

.testimonial td
{ 
    font-size:12px;
}
.testimonial img
{
    cursor: pointer;
    border: 1px dashed white;
}
.testimonial
{
    		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		
    scrollbar-face-color: #c8c8bd;
    scrollbar-arrow-color: gray;
    scrollbar-track-color: #FFFFFF;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-3dlight-color: #c8c8bd;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-darkshadow-color: #000000;
    margin-bottom: 5px;
    padding:10px 0 0 15px;
    /*background: #c8c8bd;*/
   
    /*border-right: 1px solid gray;*/
    overflow-y: auto;
}


.col
{
    float: left;
    margin-right:20px;
}
.col_12
{
    width: 450px;
}
.col_13
{
    width: 310px;
}
.col_23
{
    width: 65%;
}
.col_14
{
    width: 217px;
}
.col_24
{
    width: 465px;
}
.col_15
{
    width: 180px;
    margin-right: 15px;
}

.no_margin_right
{
    margin-right: 0;
}
.keyExam
{
    color: white;
    background-color: black;
    border: 1px solid #333;
    margin: 0 5px 5px 0;
    padding: 0px 6px 0px 3px;
    display: inline-block;
    text-decoration: none;
    line-height: 24px;

    vertical-align: baseline;
    border-radius: 6px 6px 6px 6px;
}
.keyOutline
{
    color: white;
    background-color: maroon;
    border: 1px solid #333;
    margin: 0 5px 5px 0;
    padding: 0px 6px 0px 3px;
    display: inline-block;
    text-decoration: none;
    line-height: 24px;
    
    vertical-align: baseline;
    border-radius: 6px 6px 6px 6px;
}
.title_welcome
{
    font-family: MS Sans Serif;
    padding: 5px 0px 5px 35px;
    font-size: 20px;
    color: rgb(36, 164, 179);
    background: url("../images/checked.gif") no-repeat scroll left top transparent;
    margin: 0px 0px 10px 10px;
    vertical-align: top;
}
span.red
{
    font-family: 黑体;
    font-weight: bold;
    color: gray;
}
.forMore
{
    float: right;
    height: 20px;
}
li
{
    padding:0;
    
    color: black;
    line-height: 18px;
    list-style:none;
}
.liHover
{
   border:1px solid  black;
}
 
.history
{
    cursor: pointer;
}
